body {
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
}

aside a {
	display: block;
}
.impar {
	text-align: center;
}

#diferentao {
	color: #DDD;
	text-align: right;
}

.cor {
	color: #0B0;
}
